<div id="chart">
</div>

<style>

    #chart svg {
        height: 400px;
    }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    renderLineChart();
  });

  function renderLineChart() {
    $.ajax({
      type: "POST",
      url: "/topic_dates/get_daily_topics",
      success: function (data) {
          var margin = {top: 30, right: 30, bottom: 50, left: 60};
          var num = 1;
          var xformat = '%b %d';
          var tickMarks = [];
          for(var i=0; i<data[0].values.length; i++) {
              tickMarks.push(data[0].values[i].x);
          }
          var min = d3.min(data, function (d) {
                      return d3.min(d.values, function (v) {
                          return v.y;
                      });
                  }),
                  max = d3.max(data, function (d) {
                      return d3.max(d.values, function (v) {
                          return v.y;
                      });
                  });
          var chart = nv.models.lineChart().yDomain([min, max]).margin(margin);
//          var chart = nv.models.lineChart().yDomain([min, max])
          chart.lines.scatter.yDomain([min, max]);

          chart.xAxis.tickValues(tickMarks).tickFormat(function (d) {
                      return d3.time.format(xformat)(new Date(d));
                  });

          chart.yAxis.tickFormat(d3.format(',.2d'));
          chart.lines.forceY([0]);
          chart.lines.scatter.useVoronoi(false);

          d3.select('#chart').append("svg").datum(data).transition().duration(100).call(chart);

          chart.tooltipContent(function (key, x, y, graph) {
              var seriesValue = graph.point.z;
              return "<h3>" + seriesValue + " @ " + x + "</h3>"

          });

          chart.lines.scatter.dispatch.on('elementMouseout.tooltip', function (e) {});
          chart.lines.scatter.dispatch.on('elementMouseover.tooltip', function (e) {
              chart.dispatch.tooltipHide();
              chart.dispatch.tooltipShow(e);
          });
          $('body').on('click', function (e) {
              chart.dispatch.tooltipHide();
          });
          return chart;
      }
    });
  }
</script>